article{
    display: grid;
    grid-template-rows: 10% 10% 80%;
    /* grid-template-rows: 10% 90%; */
    /* grid-template-columns: 20% 80%; */
    height: 100%;
}
article>*{
    border: solid 1px lightgray;
}
div{
    text-align: center;
}
/* header{
    grid-column: span 2;
} */