div{
    text-align: center;
    padding-top: 18px;
    font-size: x-large;
    display: grid;
    /* fr - fraction */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
a{
    padding: 10px;
    background-color: lightgrey;
    border: 2px solid darkgrey;
}